.beautyContainer {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 40px;
    padding: 0 20px;
}

.beautyContainer h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
    color: #222;
}

.beauty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.beautyCard {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 290px;
}

.beautyCard:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.beautyCard img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    padding: 10px;
}

.beautyCard h3 {
    font-size: 18px;
    margin: 10px 0 4px;
    color: #333;
}

.beautyCard p {
    font-size: 16px;
    font-weight: bold;
    color: #0078ff;
}