.elctronicsContainer {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 40px;
    padding: 0 20px;
}

.elctronicsContainer h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
}

.electronics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.electronicsCardWrapper {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-in-out;
    height: 340px;
}

.electronicsCard {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 330px;
    text-decoration: none;
    color: inherit;
}

.electronicsCard:hover {
    background: #f5f7ff;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.electronicsCard img {
    width: 100%;
    height: 190px;
    object-fit: contain;
    padding: 10px;
}

.electronicsCard h3 {
    font-size: 18px;
    margin: 10px 0 4px;
    color: #333;
    text-decoration: none;
}

.electronicsCard p {
    font-size: 16px;
    font-weight: bold;
    color: #0078ff;
}

.electronicButton {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.electronicButton button {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
    background-color: #0d47a1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.electronicButton button:hover {
    background-color: #007bff;
    transform: translateY(-2px);
}