.womenContainer {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 40px;
    padding: 0 20px;
}

.womenContainer h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #222;
}

.women {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.womenCard {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 320px; 
}

.womenCard:hover {
    background: #f5f7ff;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.15);
}

.womenCard img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    padding: 10px;
}

.womenCard h3 {
    font-size: 18px;
    margin: 10px 0 4px;
    color: #333;
}

.womenCard p {
    font-size: 16px;
    font-weight: bold;
    color: #0078ff;
}

.womenButton {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.womenButton button {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
    background-color: #0d47a1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.womenButton button:hover {
    background-color: #007bff;
    transform: translateY(-2px);
}