*{
    margin: 0;
    padding: 0;
}

.signupContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6fb;
    font-family: Arial, sans-serif;
}

.signupBox {
    background: #ffffff;
    padding: 40px 35px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 430px;
}

.signupBox h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #111;
}

.formContainer label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.formContainer input {
    width: 100%;
    display: block;
    padding: 16px 15px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 14px;
    margin-top: 15px;
}

.signupButton button {
    margin: auto;
    margin-top: 20px;
    width: 40%;
    display: block;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #007bff;
    background: linear-gradient(120deg, #007bff, #0061ff);
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

.signupButton button:hover {
    opacity: 0.9;
}