.detailsContainer {
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f5f5;
}

.arrow {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

.arrow:hover {
    background: #ddd;
}

.details {
    width: 100%;
    max-width: 900px;
}

.detailsCard {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-items: start;
    margin-top: 60px;
}

.detailsCard img {
    grid-row: 1 / 6;
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.detailsCard h3 {
    font-size: 24px;
    margin-bottom: 6px;
}

.detailsCard p:nth-of-type(1) {
    font-size: 20px;
    color: #777;
    margin-bottom: 10px;
}

.detailsCard p:nth-of-type(2) {
    font-size: 25px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.detailsCard p:nth-of-type(3) {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.detailsButton {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.detailsButton button {
    padding: 10px 22px;
    border: none;
    background-color: #0d47a1;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.detailsButton button:hover {
    background-color: #007bff;
}