.detailsContainer {
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px;
    background-color: #f6f7f9;
}

.arrow {
    font-size: 16px;
    color: #555;
    cursor: pointer;
    margin-bottom: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.detailsInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.details {
    max-width: 1100px;
    margin: auto;
}

.detailsCard {
    background: #fff;
    padding: 35px;
    border-radius: 14px;
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 50px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

.detailsCard img {
    width: 100%;
    height: 420px;
    object-fit: contain;
    background: #fafafa;
    border-radius: 12px;
}

.detailsContent {
    display: flex;
    flex-direction: column;
}

.detailsContent h3 {
    font-size: 28px;
    color: #111;
    margin: 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    color: #f59e0b;
    background: #e4e3e3;
    border-radius: 8px;
    width: 60px;
    height: 20px;
    margin: 10px 10px 10px;
}

.ratingNumber {
    font-weight: 600;
    color: #f59e0b;
    text-align: center;
}

.category {
    font-size: 20px;
    font-weight: 600;
    color: #2563eb;
    text-transform: uppercase;
    margin-top: 6px;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    color: #555;
    max-width: 520px;
    margin-top: 10px;
}

.detailsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    max-width: 520px;
}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #111;
    margin: 0;
}

.detailsButton button {
    padding: 12px 26px;
    background:#0d47a1;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.detailsButton button:hover {
    background-color: #007bff;
    transform: translateY(-2px);
}